@import '../../../node_modules/chartist/dist/chartist.css';
@import '../core/core.css';

.graph--hidden {
  display: none;
}

.ct-legend {
  text-align: center;
}

.ct-legend li {
  position: relative;
  display: inline-block;
  padding: 0 24px 0 24px;
}

.ct-legend li:before {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 12px;
  height: 12px;
  content: '';
}

.ct-legend li:nth-of-type(1):before {
  background: var(--primary-color);
}

.ct-legend li:nth-of-type(2):before {
  background: var(--primary-color-darken);
}

.ct-label {
  color: var(--font-primary-color);
  word-break: break-all;
}

.ct-grid {
  stroke: var(--border-color);
}

.ct-bar {
  stroke-width: 15px;
}

.ct-series-a .ct-bar {
  stroke: var(--primary-color);
}

.ct-series-b .ct-bar {
  stroke: var(--primary-color-darken);
}

