@font-face {
  font-family: 'Din';
  font-weight: 400;
  src: url('/assets/fonts/din.woff2') format('woff2'),
       url('/assets/fonts/din.woff') format('woff'),
       url('/assets/fonts/din.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/roboto-regular.woff2') format('woff2'),
       url('/assets/fonts/roboto-regular.woff') format('woff'),
       url('/assets/fonts/roboto-regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('/assets/fonts/roboto-medium.woff2') format('woff2'),
       url('/assets/fonts/roboto-medium.woff') format('woff'),
       url('/assets/fonts/roboto-medium.ttf') format('ttf');
}

