@import '../core/core.css';

.stat-block {
  text-align: center;
}

.stat-block__number {
  display: block;
  font-family: Din, sans-serif;
  font-size: 4em;
  /* The Din font has whitespace around it. The margin-top are to remove it. */
  margin-top: -9px;
}

.stat-block__label {
  display: block;
  color: var(--font-secondary-color);
  text-transform: uppercase;
}
