@import '../core/core.css';

:root {
  --player-stats-gutter: 16px;
}

.player-stats {
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border-color);
}

.player-stats__title {
  display: inline-block;
  padding-bottom: 8px;
  padding-right: 4px;
  margin-bottom: 32px;
  border-bottom: 3px solid var(--font-primary-color);
  font-size: 1.25em;
}

.player-stats .stat-block {
  display: inline-block;
  width: calc(50% - (var(--player-stats-gutter) / 2));
  margin-bottom: 32px;
}

.player-stats .stat-block:nth-of-type(even) {
  margin-left: var(--player-stats-gutter);
}
