{% from '../player-avatar/player-avatar.html' import playerAvatar %}

{% macro playerCard(player) %}
<a class="player-card" href="./{{ player.slug }}">
  {{ playerAvatar(player) }}
  <div class="player-card__meta">
    <span class="player-card__name">{{ player.name | fullName }}</span>
    {% if player.birthday %}
    <span class="player-card__birthday">{{ player.birthday | dateFormatter }}</span>
    {% else %}
    <span class="player-card__birthday">{{ '01-01-1000' }}</span>
    {% endif %}
  </div>
</a>
{% endmacro %}
