@import '../core/core.css';

.player-card {
  display: block;
  display: flex;
  align-items: center;
  padding: 16px;
  overflow: auto;
  border-bottom: 1px solid var(--border-color);
}

.player-card__meta {
  display: inline-block;
  margin-left: 16px;
}

.player-card__name,
.player-card__birthday {
  display: block;
}

.player-card__name {
  margin-bottom: 8px;
}

.player-card__birthday {
  color: var(--font-secondary-color);
}
