{% macro matchCard(match) %}
<a class="match-card" href="./{{match.date}}/{{match.opponent | slugFormatter}}">
  <div class="match-card__meta">
    <h3 class="match-card__title">{{match.opponent}}</h3>
    <span class="match-card__date">{{match.date | dateFormatter}}</span>
  </div>
  <div class="match-card__score">
    {% if match.awayGame == false %}
    <span>
      3
    </span>
    -
    <span>
      4
    </span>
    {% else %}
    <span>
      4
    </span>
    -
    <span>
      3
    </span>
    {% endif %}
  </div>
</a>
{% endmacro %}
