{% from '../match-score/match-score.html' import matchScore %}
{% from '../player-list-item/player-list-item.html' import playerListItem %}

{% macro matchSummary(match) %}
<div class="match-summary">
  <div class="match-summary__match-score-container">
    {{ matchScore(match, true) }}
  </div>
  {{ scorerList(match.goals, match.awayGame) }}
  <div class="match-summary__player-list">
    <h3 class="match-summary__player-list-title">Spelerlijst</h3>
    <ul>
      {% for player in match.players %}
      <li>
        {{ playerListItem(player, true) }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}

{% macro scorerList(goals, awayGame) %}
<ul class="scorer-list">
{% for item in goals %}
  {% if item.player %}
  <li class="scorer-list__item {% if awayGame %} scorer-list__item--away-team {% endif %}">
    <a class="scorer-list__item-link {% if awayGame %} scorer-list__item-link--away-team {% endif %}" href="/players/{{item.player.slug}}">
      {{ item.player.name | fullName }}
    </a>
    {% if item.assist %}
    <a class="scorer-list__item-assist {% if awayGame %} scorer-list__item-assist--away-team {% endif %}" href="/players/{{item.assist.slug}}">
      {{ item.assist.name | fullName }}
    </a>
    {% endif %}
  </li>
  {% else %}
  <li class="scorer-list__item {% if not awayGame %} scorer-list__item--away-team {% endif %}">
    Tegenstander
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endmacro %}
