@import '../core/core.css';

.match-list-item {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}

.match-list-item__meta {
  display: inline-block;
}

.match-list-item__title {
  margin-bottom: 8px;
}

.match-list-item__date {
  color: var(--font-secondary-color);
}

.match-list-item .match-score {
  float: right;
}

.match-score {
  font-family: Din, sans-serif;
  font-size: 2em;
  color: var(--font-primary-color);
}

.match-score__wp {
  color: var(--primary-color);
}

