@import '../core/core.css';

:root {
  --site-header-height: 51px;
}

#site-header {
  padding-bottom: var(--site-header-height);
}

.site-header__content {
  position: fixed;
  width: 100%;
  padding: 16px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 999;
}

.site-header__title {
  display: inline-block;
  color: var(--font-primary-color);
}
